In [ ]:
import pandas as pd
import numpy as np

2.
Exploración del conjunto de datos:
Carga el fichero, al cargarlo te aparecerá una columna llamada "Unnamed: 0". Carga el dataset sin que aparezca esta columna. Además realiza un análisis exploratorio que incluya:
Cuando leas el fichero, veras que no podemos ver todas las columnas, utiliza el comando correcto para poder visualizarlas todas cuando hacemos un head
Primeras 5 filas del dataframe
Últimas 5 filas del dataframe
10 filas aleatorias del dataframe
¿Cuántas filas y columnas tenemos en el dataframe
¿Cuáles son los tipos de los datos de cada columna del dataframe
¿Cuántos valores nulos tenemos por columna?
¿Tenemos filas duplicadas en el dataframe ?
Muestra los principales estadísticos para las columnas numéricas del dataframe
Muestra los principales estadísticos para las columnas categóricas del dataframe

In [ ]:
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames
df= pd.read_csv('Spotify_Youtube.csv',index_col=0)

In [ ]:
#Mostrar las 5 primeras
df.head()

In [ ]:
#Mostrar las 5 ultimas
df.tail()

In [ ]:
#10 filas aleatorias del dataframe
df.sample(10)

In [ ]:
#¿Cuántas filas y columnas tenemos en el dataframe
df.shape()

In [ ]:
#¿Cuáles son los tipos de los datos de cada columna del dataframe
df.dtypes

In [ ]:
#¿Cuántos valores nulos tenemos por columna?
nulos = df.isnull().sum()
print(nulos)

In [ ]:
#¿Tenemos filas duplicadas en el dataframe ?
duplicadas = df[df.duplicated()]
print(len(duplicadas))

In [ ]:
#Muestra los principales estadísticos para las columnas numéricas del dataframe
numericas = df.describe().T
numericas

In [ ]:
#Muestra los principales estadísticos para las columnas categóricas del dataframe
categoricas= df.describe(include = 'O').T
categoricas

3. Preparación de los datos:
Los nombres de las columnas empiezan con mayúsculas, pon todos los nombres de las columnas en minúsculas.

Haciendo el análisis exploratorio te deberías haber dado cuenta de que algunas de las variables (danceability, energy, key, loudness, speechiness, acousticness, instrumentalness) no son del tipo que deberían. Esto es debido a que los decimales están establecidos como comas y no con puntos. Crea una función que nos permita cambiar esas comas por puntos para que los datos tengan el tipo correcto.

Después de haber hecho los cambios, chequea los tipos de datos. ¿Son ya del tipo correcto? En caso de que no, crea otra función o modifica la anterior para que sean de tipo float.

Hay algunas canciones cuyo título está en mayúsulas. Crea una función para que todos los títulos estén en minúscula. Haz lo mismo para las columnas de "title" y "album".
Algunos de los artistas tienen símbolos raros, en concreto el símbolo $. Crea una función que los reemplaze pos "s".

In [ ]:
#Los nombres de las columnas empiezan con mayúsculas, pon todos los nombres de las columnas en minúsculas.
df.columns = df.columns.str.lower()
df.columns

In [ ]:


def comas_puntos(df, columnas):
    for x in columnas:
        df[x] = df[x].str.replace(',', '.').astype(float)
    return df

columnas_a_corregir = ['danceability', 'energy', 'key', 'loudness', 'speechiness', 'acousticness', 'instrumentalness']

# Aplicar la función
df = comas_puntos(df, columnas_a_corregir)

In [23]:
#Después de haber hecho los cambios, chequea los tipos de datos. ¿Son ya del tipo correcto? En caso de que no, crea otra función o modifica la anterior para que sean de tipo float.
print(df.dtypes)

artist               object
url_spotify          object
track                object
album                object
album_type           object
uri                  object
danceability        float64
energy              float64
key                 float64
loudness            float64
speechiness         float64
acousticness        float64
instrumentalness    float64
liveness            float64
valence             float64
tempo               float64
duration_ms         float64
url_youtube          object
title                object
channel              object
views               float64
likes               float64
comments            float64
description          object
licensed             object
official_video       object
stream              float64
dtype: object

In [24]:
#Hay algunas canciones cuyo título está en mayúsulas. Crea una función para que todos los títulos estén en minúscula. Haz lo mismo para las columnas de "title" y "album".
def convertir_minuscula(df,columna):
    for x in columna:
        df[x] = df[x].str.lower()
    return df

lista_columnas=['title','album']
df = convertir_minuscula(df,lista_columnas)
df.head()

,artist,url_spotify,track,album,album_type,uri,danceability,energy,key,loudness,speechiness,acousticness,instrumentalness,liveness,valence,tempo,duration_ms,url_youtube,title,channel,views,likes,comments,description,licensed,official_video,stream
0,Gorillaz,https://open.spotify.com/artist/3AA28KZvwAUcZu...,Feel Good Inc.,demon days,album,spotify:track:0d28khcov6AiegSCpG5TuT,0.818,0.705,6.0,-6.679,0.1770,0.008360,0.002330,0.6130,0.772,138.559,222640.0,https://www.youtube.com/watch?v=HyHNuVaZJ-k,gorillaz - feel good inc. (official video),Gorillaz,693555221.0,6220896.0,169907.0,Official HD Video for Gorillaz' fantastic trac...,True,True,1.040235e+09
1,Gorillaz,https://open.spotify.com/artist/3AA28KZvwAUcZu...,Rhinestone Eyes,plastic beach,album,spotify:track:1foMv2HQwfQ2vntFf9HFeG,0.676,0.703,8.0,-5.815,0.0302,0.086900,0.000687,0.0463,0.852,92.761,200173.0,https://www.youtube.com/watch?v=yYDmaexVHic,gorillaz - rhinestone eyes [storyboard film] (...,Gorillaz,72011645.0,1079128.0,31003.0,The official video for Gorillaz - Rhinestone E...,True,True,3.100837e+08
2,Gorillaz,https://open.spotify.com/artist/3AA28KZvwAUcZu...,New Gold (feat. Tame Impala and Bootie Brown),new gold (feat. tame impala and bootie brown),single,spotify:track:64dLd6rVqDLtkXFYrEUHIU,0.695,0.923,1.0,-3.930,0.0522,0.042500,0.046900,0.1160,0.551,108.014,215150.0,https://www.youtube.com/watch?v=qJa-VFwPpYA,gorillaz - new gold ft. tame impala & bootie b...,Gorillaz,8435055.0,282142.0,7399.0,Gorillaz - New Gold ft. Tame Impala & Bootie B...,True,True,6.306347e+07
3,Gorillaz,https://open.spotify.com/artist/3AA28KZvwAUcZu...,On Melancholy Hill,plastic beach,album,spotify:track:0q6LuUqGLUiCPP1cbdwFs3,0.689,0.739,2.0,-5.810,0.0260,0.000015,0.509000,0.0640,0.578,120.423,233867.0,https://www.youtube.com/watch?v=04mfKJWDSzI,gorillaz - on melancholy hill (official video),Gorillaz,211754952.0,1788577.0,55229.0,Follow Gorillaz online:\nhttp://gorillaz.com \...,True,True,4.346636e+08
4,Gorillaz,https://open.spotify.com/artist/3AA28KZvwAUcZu...,Clint Eastwood,gorillaz,album,spotify:track:7yMiX7n9SBvadzox8T5jzT,0.663,0.694,10.0,-8.627,0.1710,0.025300,0.000000,0.0698,0.525,167.953,340920.0,https://www.youtube.com/watch?v=1V_xRb0x9aw,gorillaz - clint eastwood (official video),Gorillaz,618480958.0,6197318.0,155930.0,The official music video for Gorillaz - Clint ...,True,True,6.172597e+08

In [34]:
#Algunos de los artistas tienen símbolos raros, en concreto el símbolo $. Crea una función que los reemplaze pos "s".
df['artist']
def cambiar_simbolo(df,columna):
    df[columna] = df[columna].str.replace('$','s')
    return df
df = cambiar_simbolo(df,"artist")
df['artist'].sample(10)

11195                JJ Lin
1696                 Shaggy
6152     Insane Clown Posse
13390               TAEYEON
4373       Alejandra Guzman
7743           Natalie Cole
750               Timbaland
11618           James Blunt
1001              Pearl Jam
7901             Vince Gill
Name: artist, dtype: object

4. Filtrado de datos:
¿Cuáles son los valores únicos de la columna "album_type"? Crea tres dataframes diferentes, uno para cada tipo de "album_type". ¿Cuántas canciones tenemos en cada tipo?

Usando el dataframe de los albumes que hemos creado en el ejercicio anterior. ¿Cuál es la media y la desviación estándar de "danceability", "acousticness" y "speechiness" de cada artista?. Muesrtra los resultados en tres dataframes diferentes, uno para cada métrica ("danceability", "acousticness" y "speechiness"). Ordena los resultados de mayor a menor en base a la media.

Se quiere estudiar si existe una relación entre la cantidad de visitas que reciben los videos de música de un artista en una plataforma de streaming y la cantidad de likes que estos videos obtienen. Por lo tanto, querremos contestar a la siguiente pregunta: ¿Son aquellos artistas que tienen más visitas los que más likes tienen? Para solucionar este ejercicio deberéis:
Agrupa por artista y calcular la media de visitas y de likes.
Quedate con los 10 artistas que más visitas han tenido.
Quedate con los 10 artistas que más likes han tenido.
BONUS Haced lo mismo para los datos de tipo "single".
Ahora queremos analizar la colaboración entre artistas en la industria musical, se tienen datos de las colaboraciones realizadas en los últimos años. Se desea conocer cuáles son los artistas que han colaborado en mayor cantidad de canciones y generar un ranking con los diez primeros. ¿Qué artistas con los que más colaboraciones tienen? Para esto tendréis que:
Filtra los datos para quedarte solo con aquellos datos donde en la columna "track" tengamos "feat".
Cuenta cuantas canciones tiene cada artista utilizando el dataframe generado en el paso anterior.
Debes contestar a las siguientes preguntas:
¿Cuáles son los diez artistas que más han colaborado según los datos que tenemos?
¿Cuál es el número de canciones en los que ha colaborado el artista que ocupa el primer lugar en el ranking?
¿Cuál es el artista que ocupa el décimo lugar en el ranking y en cuántas canciones ha colaborado?

In [131]:
#¿Cuáles son los valores únicos de la columna "album_type"? Crea tres dataframes diferentes, uno para cada tipo de "album_type". ¿Cuántas canciones tenemos en cada tipo?.
lista_albunes = df['album_type'].unique()
lista_columnas

df['album_type'].unique()


# Crear tres DataFrames diferentes para cada tipo de "album_type"
df_album_type = {}
for x in lista_albunes:
    df_album_type[x] = df[df['album_type'] == x]

# Imprimir el número de canciones de cada tipo de album
for x, dataframe in df_album_type.items():
    print(f"Número de canciones en el tipo '{x}': {len(dataframe)}")

Número de canciones en el tipo 'album': 14926
Número de canciones en el tipo 'single': 5004
Número de canciones en el tipo 'compilation': 788

Usando el dataframe de los albumes que hemos creado en el ejercicio anterior. 
¿Cuál es la media y la desviación estándar de "danceability", "acousticness" y "speechiness" de cada artista?. 
Muesrtra los resultados en tres dataframes diferentes, uno para cada métrica ("danceability", "acousticness" y 
                                                                              "speechiness"). 
Ordena los resultados de mayor a menor en base a la media.

In [61]:
valores = ["danceability", "acousticness", "speechiness"]
media_desviacion = df.groupby('artist')[valores].agg(['mean', 'std']).reset_index()

media_desviacion

                 artist danceability           acousticness            \
                                mean       std         mean       std
0              (G)I-DLE       0.6914  0.132492     0.029762  0.024996
1                *NSYNC       0.6224  0.108125     0.154031  0.180663
2             070 Shake       0.5873  0.117510     0.059757  0.054525
3                   112       0.7335  0.097685     0.111164  0.128360
4     11:11 Music Group       0.6548  0.127426     0.414117  0.391279
...                 ...          ...       ...          ...       ...
2074          will.i.am       0.7840  0.109125     0.088452  0.132893
2075     Ángela Aguilar       0.7108  0.118364     0.495200  0.227910
2076               Ñejo       0.7217  0.079023     0.319700  0.118641
2077         Ñengo Flow       0.7710  0.091704     0.115610  0.074568
2078           Øneheart       0.3468  0.104148     0.923500  0.031585

     speechiness
            mean       std
0        0.09679  0.068706
1        0.05752  0.036145
2        0.10746  0.092549
3        0.16900  0.124184
4        0.14336  0.129977
...          ...       ...
2074     0.08221  0.048637
2075     0.02973  0.003392
2076     0.20672  0.104580
2077     0.17226  0.143330
2078     0.03413  0.004551

[2079 rows x 7 columns]

In [126]:


# Lista de métricas
lista_metricas = ["danceability", "acousticness", "speechiness"]
df_danceability = pd.DataFrame()
df_acousticness = pd.DataFrame()
df_speechiness = pd.DataFrame()

# Iterar sobre cada elemento
for x in lista_metricas:
    # Calcular la media y la desviación estándar para cada artista
    estadisticas_por_artista = df.groupby('artist')[x].agg(['mean', 'std']).reset_index()

    # Agregar los resultados al DataFrame correspondiente
    if x == "danceability":
        df_danceability = estadisticas_por_artista
    elif x == "acousticness":
        df_acousticness = estadisticas_por_artista
    elif x == "speechiness":
        df_speechiness = estadisticas_por_artista

# Ordenar los resultados por la media de mayor a menor
df_danceability = df_danceability.sort_values(by='mean', ascending=False)
df_acousticness = df_acousticness.sort_values(by='mean', ascending=False)
df_speechiness = df_speechiness.sort_values(by='mean', ascending=False)

# Mostrar los resultados
print("Data Frame para danceability:")
print(df_danceability)

print("Data Frame  para acousticness:")
print(df_acousticness)

print("Data Frame  para speechiness:")
print(df_speechiness)

Data Frame para danceability:
                      artist      mean       std
1638                Saweetie  0.885800  0.050918
2021             Young Dolph  0.862900  0.046596
1256     Megan Thee Stallion  0.860500  0.091036
441                     Dave  0.859100  0.096773
1426        Ovy On The Drums  0.854600  0.038739
...                      ...       ...       ...
1738        Stephen Cleobury  0.142160  0.039799
1401            Ocean Sounds  0.137980  0.063706
1402   Ocean Waves For Sleep  0.128150  0.060672
1981  White Noise for Babies  0.080233  0.156234
1980  White Noise Baby Sleep  0.066270  0.071434

[2079 rows x 3 columns]
Data Frame  para acousticness:
                   artist      mean       std
368        Claude Debussy  0.993600  0.001350
1576      Robert Schumann  0.992500  0.005503
631       Frédéric Chopin  0.990200  0.003795
529          Edvard Grieg  0.989500  0.007863
1044            Lang Lang  0.989100  0.004677
...                   ...       ...       ...
2019              Youjeen  0.000334  0.000654
1962              Volbeat  0.000220  0.000237
1312  Motionless In White  0.000166  0.000191
986     Killswitch Engage  0.000132  0.000158
777             In Flames  0.000050  0.000099

[2079 rows x 3 columns]
Data Frame  para speechiness:
                      artist     mean       std
1701  Sir Arthur Conan Doyle  0.95230  0.008845
196          Bibi Blocksberg  0.94530  0.011879
1673         Sherlock Holmes  0.93930  0.015833
1775                    TKKG  0.91930  0.023542
637             Fünf Freunde  0.90620  0.048960
...                      ...      ...       ...
1208         Marcela Gandara  0.02861  0.002700
1129          Los Temerarios  0.02841  0.005328
839            Jeet Gannguli  0.02822  0.003086
1106              Los Acosta  0.02764  0.002200
364     Cigarettes After Sex  0.02741  0.002586

[2079 rows x 3 columns]

Se quiere estudiar si existe una relación entre la cantidad de visitas que reciben los videos de música de un artista en una plataforma de streaming y la cantidad de likes que estos videos obtienen. Por lo tanto, querremos contestar a la siguiente pregunta: ¿Son aquellos artistas que tienen más visitas los que más likes tienen? Para solucionar este ejercicio deberéis:

In [53]:
#Agrupa por artista y calcular la media de visitas y de likes.

media_visitas_likes = df.groupby('artist')[['views', 'likes']].mean().reset_index()
print(media_visitas_likes)

                 artist        views      likes
0              (G)I-DLE  175495394.1  2446296.3
1                *NSYNC  102783286.2   423342.3
2             070 Shake    9609935.9   201300.5
3                   112   21913445.9   150914.1
4     11:11 Music Group    1267282.4    17970.1
...                 ...          ...        ...
2074          will.i.am  283132016.6  1386447.1
2075     Ángela Aguilar  138529529.1  1029475.7
2076               Ñejo   62668082.4   434891.0
2077         Ñengo Flow   81272631.5   676034.0
2078           Øneheart    3462331.0   127216.7

[2079 rows x 3 columns]

In [132]:
#Quedate con los 10 artistas que más visitas han tenido.


artistas_mas_visitados = df.groupby('artist')['views'].sum().reset_index()
artistas_mas_visitados  = artistas_mas_visitados .sort_values(by='views', ascending=False)

print('Los 10 primeros artistas con mas visitas son :')
artistas_mas_visitados.head(10)

Los 10 primeros artistas con mas visitas son :

                       artist         views
524                Ed Sheeran  1.546021e+10
372                 CoComelon  1.460167e+10
953                Katy Perry  1.312063e+10
331              Charlie Puth  1.216759e+10
1147               Luis Fonsi  1.162811e+10
925             Justin Bieber  1.099106e+10
420              Daddy Yankee  1.087193e+10
265                Bruno Mars  1.024092e+10
1182  Macklemore & Ryan Lewis  1.012206e+10
379                  Coldplay  9.997278e+09

In [133]:
#Quedate con los 10 artistas que más likes han tenido.
artistas_mas_likes = df.groupby('artist')['likes'].sum().reset_index()
artistas_mas_likes  = artistas_mas_likes .sort_values(by='likes', ascending=False)

artistas_mas_likes.head(10)

               artist        likes
151               BTS  139403808.0
149         BLACKPINK  132302505.0
331      Charlie Puth   86336925.0
524        Ed Sheeran   83543319.0
925     Justin Bieber   78584348.0
200     Billie Eilish   73338537.0
775   Imagine Dragons   72274477.0
55        Alan Walker   67977702.0
416          DJ Snake   67775831.0
1147       Luis Fonsi   66908489.0

In [134]:
#¿Son aquellos artistas que tienen más visitas los que más likes tienen?
## `No`

In [135]:
df.columns

Index(['artist', 'url_spotify', 'track', 'album', 'album_type', 'uri',
       'danceability', 'energy', 'key', 'loudness', 'speechiness',
       'acousticness', 'instrumentalness', 'liveness', 'valence', 'tempo',
       'duration_ms', 'url_youtube', 'title', 'channel', 'views', 'likes',
       'comments', 'description', 'licensed', 'official_video', 'stream'],
      dtype='object')

In [75]:
# BONUS Haced lo mismo para los datos de tipo "single".
# Quedate con los 10 artistas que más likes han tenido y con album_type = 'single'

artistas_mas_likes = df.groupby(['artist', 'album_type'])['likes'].sum().reset_index()

# Filtro para ver los singles
top_artistas_single = artistas_mas_likes[artistas_mas_likes['album_type'] == 'single']

# Seleccionar los 10 artistas con más likes
top_artistas_single= top_artistas_single.sort_values(by='likes', ascending=False).head(10)

# Mostrar los resultados
print("Top 10 artistas con más likes en singles:")
print(top_artistas_single)

Top 10 artistas con más likes en singles:
              artist album_type       likes
279        BLACKPINK     single  82959030.0
3636     Wiz Khalifa     single  47790517.0
610     Charlie Puth     single  41746947.0
1688  Jubin Nautiyal     single  39238542.0
1989       Lil Nas X     single  39103751.0
2246      Marshmello     single  35843277.0
367    Billie Eilish     single  35590580.0
385         Bizarrap     single  33922836.0
3019    Selena Gomez     single  33409887.0
2615           Ozuna     single  33337259.0

Ahora queremos analizar la colaboración entre artistas en la industria musical, se tienen datos de las colaboraciones realizadas en los últimos años. Se desea conocer cuáles son los artistas que han colaborado en mayor cantidad de canciones y generar un ranking con los diez primeros. ¿Qué artistas con los que más colaboraciones tienen? Para esto tendréis que:
Filtra los datos para quedarte solo con aquellos datos donde en la columna "track" tengamos "feat".
Cuenta cuantas canciones tiene cada artista utilizando el dataframe generado en el paso anterior.
Debes contestar a las siguientes preguntas:
¿Cuáles son los diez artistas que más han colaborado según los datos que tenemos?
¿Cuál es el número de canciones en los que ha colaborado el artista que ocupa el primer lugar en el ranking?
¿Cuál es el artista que ocupa el décimo lugar en el ranking y en cuántas canciones ha colaborado?

In [90]:
datos_feat= df.groupby('track')
datos_feat = df['track'].str.contains('feat')


# Filtrar los datos para quedarse solo con colaboraciones que contienen "feat" en la columna "track"
datos_feat = df[df['track'].str.contains('feat', case=False, na=False)]

print(f'Numero de colaboraciones : {datos_feat.shape[0]}')

Numero de colaboraciones : 1756

In [105]:
# Filtrar datos para quedarnos solo con colaboraciones 'feat'
datos_feat = df[df['track'].str.contains('feat', case=False)]

# Contar la cantidad de colaboraciones por cada artista
df_colaboraciones_artista = datos_feat.groupby('artist')['track'].count().reset_index(name='numero_canciones')

# Ordenar los resultados de mayor a menor
df_colaboraciones_artista = df_colaboraciones_artista.sort_values(by='numero_canciones', ascending=False)

# Mostrar los 10 primeros artistas con más colaboraciones 'feat'
print("Los 10 primeros artistas con más colaboraciones:")
print(df_colaboraciones_artista.head(10))

Los 10 primeros artistas con más colaboraciones:
            artist  numero_canciones
404     Macklemore                10
307        Juicy J                10
62   Bibi und Tina                10
646  Ty Dolla sign                 9
667   Wu-Tang Clan                 9
138      DJ Khaled                 9
419    Mark Ronson                 8
658           Wale                 8
517        Popcaan                 8
666         Wizkid                 8

In [124]:
#¿Cuál es el número de canciones en los que ha colaborado el artista que ocupa el primer lugar en el ranking?
num_canciones = df_colaboraciones_artista.iloc[0,1]
print(f'El artista que  mas ha colaborado es {df_colaboraciones_artista.iloc[0,0]} con un total de {df_colaboraciones_artista.iloc[0,1]} canciones')

El artista que  mas ha colaborado es Macklemore con un total de 10 canciones

In [122]:
#¿Cuál es el artista que ocupa el décimo lugar en el ranking y en cuántas canciones ha colaborado?
print(f'El artista que ocupa el decimo lugar en el ranking es {df_colaboraciones_artista.iloc[-1,0]}')
num_colaboraciones = df_colaboraciones_artista.iloc[-1,1]
print(f'Ha colaborado en {num_colaboraciones}')

El artista que ocupa el decimo lugar en el ranking es Ñengo Flow
Ha colaborado en 1